{% extends "layout.html" %}

{% block content %}

<div class="row">
	<div class="col-md-9 col-sm-12 mapleft">
		
		<div id="map-canvas"></div> <!--map -->

	</div><!-- .col-md-9 -->

	<div class="col-md-3 col-sm-12 sidebar">

			<div class="row">
				<div class="col-md-12 pulldowns">

					<form>
						<label>Hotels</label><br>
						<select class="form-control">
							{% for hotel in allHotels %}
							<option>{{hotel.name}} </option>
							{% endfor %}
						 </select>
						 <button class="addButton"><span>+</span></button>
					</form>

					<form>
						<label>Restaurants</label><br>

						<select class="form-control">
							{% for restaurant in allRestaurants %}
							<option>{{restaurant.name}}</option>
							{% endfor %}
						 </select>
						 <button class="addButton"><span>+</span></button>
					</form>

					<form>
						<label>Activities</label><br>
						<select class="form-control">
							{% for activity in allActivities %}
							<option>{{activity.name}} </option>
							{% endfor %}
						 </select>
						 <button class="addButton"><span>+</span></button>
					</form>

				</div><!-- .col-md-12 -->
			</div><!--.row-->

			<div class="row">
				<div class="col-md-12 day">
					Day 2 <button class="removeButton"><span>+</span></button>
				</div><!-- .col-md-12 -->
			</div><!--.row-->

			<div class="row">
				<div class="col-md-12 itineraries">
					<div class="panel panel-default">
					 <div class="panel-heading">
					   <ul>
					   	<li>1</li>
					   	<li class="activeDay">2</li>
					   	<li>3</li>
					   	<li>+</li>
					   </ul>
					 </div>
					 <div class="panel-body">

					   <div>
					   	<span class="itinerary-label">My Hotel</span>
					   	<div class="itinerary-item"><span class="name">Andaz Wall Street</span><button class="removeButton pull-right"><span>+</span></button></div>
					   </div>

					   <div>
					   	<span class="itinerary-label">My Restaurants</span>
					   	<div class="itinerary-item"><span class="name">The Capital Grille</span><button class="removeButton pull-right"><span>+</span></button></div>
					   	<div class="itinerary-item"><span class="name">Bouley</span><button class="removeButton pull-right"><span>+</span></button></div>
					   </div>

					   <div>
					   	<span class="itinerary-label">My Activities</span>
					   	<div class="itinerary-item"><span class="name">Mahayana Temple Buddhist Association</span><button class="removeButton pull-right"><span>+</span></button></div>
					   	<div class="itinerary-item"><span class="name">South Street Seaport</span><button class="removeButton pull-right"><span>+</span></button></div>
					   </div>

					</div>
				</div><!-- .col-md-12 -->
			</div><!--.row-->
	</div><!-- .col-md-3 -->
</div><!-- .row -->




{% endblock %}