<!DOCTYPE html>
<header>
<meta charset="utf-8">

<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="/stylesheets/main.css" rel="stylesheet">




<title>Trip Planner 1</title>

</header>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-map"></i> Trip Planner</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>
<br>

{% block content %}{% endblock %}

<br>
<br>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC62Q3fI-hsJMcb9htJZes2RFDym3BdqTg&sensor=true"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!--- MAP -->
<script type="text/javascript">
function initialize_gmaps() {
    // initialize new google maps LatLng object
    var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
    var andazLatlng = new google.maps.LatLng(40.7051609,-74.008124);
    var capitalGrilleLatlng = new google.maps.LatLng(40.707995,-74.010258);
    // set the map options hash
    var mapOptions = {
        center: myLatlng,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    // get the maps div's HTML obj
    var map_canvas_obj = document.getElementById("map-canvas");
    // initialize a new Google Map with the options
    var map = new google.maps.Map(map_canvas_obj, mapOptions);
    // Add the marker to the map

    var hotelImage = {
    	url: 'http://maps.google.com/mapfiles/ms/micons/lodging.png',
    	size: new google.maps.Size(50,50),
    	origin: new google.maps.Point(0,0),
    	anchor: new google.maps.Point(0,32)
    };

    var restoImage = {
    	ur`l: 'http://maps.google.com/mapfiles/ms/micons/restaurant.png',
    	size: new google.maps.Size(50,50),
    	origin: new google.maps.Point(0,0),
    	anchor: new google.maps.Point(0,32)    	
    };

    var fullstackImage = {
    	url: 'fullstackLogo.jpg',
    	size: new google.maps.Size(100,100),
    	origin: new google.maps.Point(0,0),
    	anchor: new google.maps.Point(0,32)  
    };

    var marker = new google.maps.Marker({
        position: myLatlng,
        title:"Fullstack Academy!",
        icon: fullstackImage,
        animation: google.maps.Animation.BOUNCE
    });

    var andezMarker = new google.maps.Marker({
        position: andazLatlng,
        title:"Andaz Wall Street",
        icon: hotelImage
    });
    var capitalGrilleMarker = new google.maps.Marker({
        position: capitalGrilleLatlng,
        title:"The Capital Grille",
        icon: restoImage
    });
    // Add the marker to the map by calling setMap()
    marker.setMap(map);
    andezMarker.setMap(map);
    capitalGrilleMarker.setMap(map);

}

$(document).ready(function() {
    initialize_gmaps();
});
</script>

<script>

  $("#map-canvas").css("min-height",$(window).height());

</script>


</body>

</html>