body {
  color: #000;
  padding-top: 10px;
  background-color: #cecece; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > .active > a {
  color: #93c0ff; }

.container {
  width: 90%;
  padding: 1%; }

.mapleft {
  padding: 0;
  margin: 0; }

#map-canvas {
  padding: 0;
  margin: 0;
  width: 100%; }

.sidebar {
  padding-top: 2%;
  background-color: #cecece; }

.pulldowns {
  width: 84%;
  margin: 0 8%;
  background-color: #e5e5e5;
  border: 0;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 5px; }

form {
  margin-bottom: 5%; }

select.form-control, .panel-body .name {
  width: 80%;
  display: inline;
  height: 25px; }

span {
  display: block;
  padding-bottom: 10px;
  font-size: 12px; }

.addButton, .removeButton {
  display: inline;
  border-radius: 11px;
  height: 22px;
  width: 22px;
  color: white;
  border: 0px;
  margin-left: 5px;
  position: relative;
  bottom: 2px; }

.removeButton {
  background-color: #f93636; }

.addButton {
  background-color: #93c0ff; }

.day {
  margin: 20px auto;
  text-align: center;
  font-size: 20px; }

.panel {
  border-radius: 10px;
  width: 86%;
  margin: 0 8%;
  padding: 0; }

.panel .panel-heading {
  background-color: black;
  border-radius: 10px 10px 0 0; }
  .panel .panel-heading ul {
    padding-left: 0px;
    list-style: none;
    margin: 5px 5px; }
    .panel .panel-heading ul li {
      cursor: pointer;
      display: inline;
      border: 2px solid #93c0ff;
      border-radius: 20px;
      padding: 8px 12px;
      color: #93c0ff; }
      .panel .panel-heading ul li.activeDay, .panel .panel-heading ul li:hover {
        background-color: #93c0ff;
        color: black; }

.itineraries {
  margin: 0;
  padding: 0 8px; }

.itinerary-item {
  margin: 5px 0; }

.itinerary-label {
  font-size: 16px;
  color: #666;
  margin: 15px 0 0;
  padding-bottom: 0; }
